<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mushroom Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
    <div class="container">
        <!-- Title Section -->
        <header class="upload-section">
            <h1>Mushroom Prediction</h1>
            <p>Upload an image to predict the mushroom type.</p>
        </header>

        <!-- Upload Section -->
        <section class="upload-section">
            <form class="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*" required>
                <button type="submit">Upload & Predict</button>
            </form>
        </section>

        <!-- Result Section -->
        <section class="result-section">
            <div class="result-box">
                {% if result_image %}
                <h2>Prediction Result</h2>
                <img src="{{ url_for('static', filename='results/' + result_image) }}" alt="Prediction Result"
                    class="result-image">
                {% else %}
                <p class="instruction-text">Upload an image to see the prediction results.</p>
                {% endif %}
            </div>
        </section>
    </div>
</body>

</html>
